<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CellNetixApps.Properties.Settings.CELLAPPSConnectionString"
      connectionString="Data Source=cel-sql-011;Initial Catalog=CELLAPPS;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.PowerPath_95_TestConnectionString"
      connectionString="Data Source=cel-lis-001;Initial Catalog=PowerPath_prod;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.ToolsConnectionString"
      connectionString="Data Source=cel-lis-001;Initial Catalog=Tools;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.tools_testConnectionString"
      connectionString="Data Source=CEL-LIS-001;Initial Catalog=tools;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.tools_testConnectionString1"
      connectionString="Data Source=CEL-LIS-001;Initial Catalog=tools;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.CELLAPPSConnectionString1"
      connectionString="Data Source=cel-sql-011;Initial Catalog=CELLAPPS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.CELLAPPSConnectionString2"
      connectionString="Data Source=CEL-SQL-011;Initial Catalog=CELLAPPS;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
    <add name="CellNetixApps.Properties.Settings.RulesConnectionString"
      connectionString="Data Source=cel-sql-011;Initial Catalog=Rules;Persist Security Info=True;User ID=sa;Password=mp789@i"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup >
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
